body{
    //background: #000;
}

#top1{
    background: #000;
    width: 100%;
}

.container{
    padding: 0 100px;
}



#header1{
    background: #000;
}

.header-img1{
    padding-top: 1px;
    width: 3%;
}

.header-img2{
    padding-top: 2px;
    width:1.7em;
}

.header1-right{
   background-color: transparent;
   border-color: transparent;
   margin-bottom:0;
   margin-top: 4px;
   min-height: 31px;
   font-family: 'Open Sans', sans-serif;
   float: right;
}

.tel1{
    vertical-align: middle;
    color: #fff;
    padding-top: 4px;
}

.top-nav > li > a{
    padding-bottom: 0;
    padding-top: 1px;;
    color:#fff !important;
}

#header2{
    background: url('images/background.jpg');
    padding-top: 20px;
    padding-bottom: 18px;
    width: 100%;
}

.menu2{
    background: transparent;
    border: none;
    float: right;
    padding-left: 4px;
    margin-top: 13px;
}

.top-h1{
    font-size: 1em;
    font-weight: bold;
}

.nav2 > li > a{
    font-family: 'Roboto', sans-serif;
    color:#343434 !important;
}

.nav2 > li > a:hover{
    color:#991b1e !important;
}

.active_nav{
   color:#991b1e !important;
}

.carousel-indicators{
   top:95%; 
   left:3%;
}

.carousel-indicators li{
    border-color: #8c191b;
    background-color: #9e2629;
    height: 8px;
    width: 8px;
}

.carousel-indicators .active{
    background-color: #3f991b;
    border-color: #fff;
    height: 8px;
    width: 8px;
}

#inner1{
    width: 100%;
    background: #e1e1e1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.rounded1{  
    background: #fff;
    border: 33px solid #9a1d20;
    height:300px;
    width: 300px;
    -moz-border-radius: 150px;
    border-radius: 150px;
}

.rounded_t1{
 text-align: center;
 font-weight: bold;
 font-size: 34px;
}

.rounded_t2{
 text-align: center;
 font-weight: bold;
 font-size: 26px;
}

.form1{
    background: #fff;
    margin-left: 84px;
    padding:20px 0;
}

.form-field1{
    margin:10px 0;
}