body{
    //background: #000;
}

#top1{
    background: #000;
    width: 100%;
}

.container{
    padding: 0 100px;
}

#header1{
    background: #000;
}

.header-img1{
    padding-top: 1px;
    width: 3%;
}

.header-img2{
    padding-top: 2px;
    width:1.7em;
}

.header1-right{
   background-color: transparent;
   border-color: transparent;
   margin-bottom:0;
   margin-top: 4px;
   min-height: 31px;
}

.tel1{
    vertical-align: middle;
    color: #fff;
    padding-top: 4px;
}

.top-nav > li > a{
    padding-bottom: 0;
    padding-top: 1px;;
    color:#fff !important;
}

#header2{
    background: url('images/background.jpg');
    padding-top: 20px;
    width: 100%;
}

.menu2{
    background: transparent;
    border: none;
}

.top-h1{
    font-size: 1em;
    font-weight: bold;
}